-e git+https://github.com/huggingface/transformers.git 
-e git+https://github.com/huggingface/peft.git
-e git+https://github.com/huggingface/accelerate.git
--epgrade bitsandbytes
# diffy 这里不是diffy 应该是ditty就对了
ditty==0.4.0
scipy==1.10.1